CompileFlags:
  CompilationDatabase: "STM32_Firmware/build"
  Add: [
    -I/home/wy/STM32_VSCODE/STM32F103C8T6/STM32_Firmware/Core/Inc,
    -I/home/wy/STM32_VSCODE/STM32F103C8T6/STM32_Firmware/App/Inc,
    -I/home/wy/STM32_VSCODE/STM32F103C8T6/STM32_Firmware/Board/Inc,
    -isystem/usr/lib/gcc/arm-none-eabi/10.3.1/include,
    -isystem/usr/lib/gcc/arm-none-eabi/10.3.1/include-fixed,
    -isystem/usr/lib/arm-none-eabi/include
  ]

Diagnostics:
  UnusedIncludes: None
